{% extends "layout/base.html" %}
{% load course %}
{% block title %}Модуль {{ module.order|add:1 }}: {{ module.title }}{% endblock %}
{% block content %}
  {% with course=module.course %}
    <h1 class='module-head shrift'>Курс "{{ course.title }}"</h1>
    <div class="row mx-auto">
      <div class="contents shrift h-100">
        <h3>Модули</h3>
        <ul id="modules">
          {% for m in course.modules.all %}
            <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
              <a href="{% url "main:module_content_list" m.id %}">
                <span>
                  Модуль <span class="order">{{ m.order|add:1 }}</span>
                </span>
                <br>
                {{ m.title }}
              </a>
            </li>
          {% empty %}
            <li>Нет модулей</li>
          {% endfor %}
        </ul>
        <p><a href="{% url "main:course_module_update" course.id %}">Редактировать модули</a></p>
      </div>
      <div class="modul shrift course-info">
        <div class="ml-2 mr-2 mt-1">
          <h2>Модуль {{ module.order|add:1 }}: {{ module.title }}</h2>
          <h3>Содержимое модуля:</h3>

          <div id="module-contents">
            {% for content in module.contents.all %}
              <div data-id="{{ content.id }}" class="border mb-1">
                {% with item=content.item %}
                  <p class='ml-2 mt-1'>{{ item }} ({{ item|model_name }})</p>
                  <form action="{% url "main:module_content_delete" content.id %}" method="post" class='mb-2 ml-2'>
                    <a href="{% url "main:module_content_update" module.id item|model_name item.id %}" class='btn btn-primary btn-sm mr-2'>Редактировать</a>
                    <input type="submit" value="Удалить" class="btn btn-danger btn-sm">
                    {% csrf_token %}
                  </form>
                {% endwith %}
              </div>
            {% empty %}
              <p>В этом модуле отсутствует содержимое</p>
            {% endfor %}
          </div>
          <h3>Добавить содержимое:</h3>
          <ul class="content-types d-flex p-0 justify-content-center">
            <li class='mr-2'><a href="{% url "main:module_content_create" module.id "text" %}" class="btn btn-primary">Текст</a></li>
            <li class='mr-2'><a href="{% url "main:module_content_create" module.id "image" %}" class="btn btn-primary">Фото</a></li>
            <li class='mr-2'><a href="{% url "main:module_content_create" module.id "video" %}" class="btn btn-primary">Видео</a></li>
            <li><a href="{% url "main:module_content_create" module.id "file" %}" class="btn btn-primary">Файл</a></li>
          </ul>
        </div>
      </div>
    </div>
  {% endwith %}
{% endblock %}
{% block domready %}
$('#modules').sortable({
  stop: function(event, ui) {
    modules_order = {};
    $('#modules').children().each(function(){
      $(this).find('.order').text($(this).index() + 1);
      modules_order[$(this).data('id')] = $(this).index();
    });
    $.ajax({
      type: 'POST',
      url: '{% url "main:module_order" %}',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify(modules_order)
    });
  }
});

$('#module-contents').sortable({
  stop: function(event, ui) {
    contents_order = {};
    $('#module-contents').children().each(function(){
      contents_order[$(this).data('id')] = $(this).index();
    });

    $.ajax({
      type: 'POST',
      url: '{% url "main:content_order" %}',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify(contents_order),
    });
  }
});
{% endblock %}
