{% extends 'layout/base.html' %}
{% load bootstrap4 %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
<div class="text-center password mt-2">
    <h2>Смена пароля пользователя {{ user.username }}</h2>
</div>
<div class="container-fluid mx-auto mb-3 mt-2 password-change">

  <form method="post">
    {% csrf_token %}
    <div class="password-form">
      {% bootstrap_form form layout='horizontal' %}
    </div>
    <button type="submit" class="btn-hover btn-block color-8 mx-auto shrift">Сменить пароль</button>
  </form>
</div>
{% endblock %}
