{% extends 'layout/base.html' %}
{% block title %}Расписание{% endblock %}
{% block content %}
<div class="text-center shedule-text mt-1">
  <h1>Расписание уроков</h1>
</div>
<div class="row justify-content-center mx-auto">
    {% for s in shedule %}
      <div class="col-xs-10 col-sm-10 col-md-4 col-lg-3 col-xl-2 my-3">
        <div class="card cards">
          <div class="card-header cards-header">
            {{ s.day }}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item cards">1) {{ s.lesson1 }}</li>
            <li class="list-group-item cards">2) {{ s.lesson2 }}</li>
            <li class="list-group-item cards">3) {{ s.lesson3 }}</li>
            <li class="list-group-item cards">4) {{ s.lesson4 }}</li>
            <li class="list-group-item cards">5) {{ s.lesson5 }}</li>
            <li class="list-group-item cards">6) {{ s.lesson6 }}</li>
            <li class="list-group-item cards">7) {{ s.lesson7 }}</li>
          </ul>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}
